.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 55vh;
}
.Buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.Button {
  height: 20px;
  margin-left: 10px;
  border-color: #046ab8;
  border-radius: 8px;
  color: #046ab8;
  background-color: white;
  font-weight: bold;
  font-size: 12px;
}
.ButtonList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  color: black;
  font-size: 20px;
}
