.HomeButton {
  margin: 30px;
  height: 20px;
  background-color: white;
  border-color: #046ab8;
  border-radius: 8px;
  color: #046ab8;
  font-weight: bold;
  font-size: 12px;
}
.FormMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1em;
}
.label {
  margin-right: 10px;
  font-size: 20px;
}
.SearchButton {
  height: 20px;
  background-color: white;
  border-color: #046ab8;
  border-radius: 8px;
  color: #046ab8;
  font-weight: bold;
  font-size: 12px;
}
.error {
  color: red;
  font-size: 20px;
}
